<!-- <ul>
    <li *ngFor="let item of produtos">
        {{ item.name }}
    </li>
</ul> -->

<mat-table  [dataSource]="produtos" class="mat-elevation-z8 minhaTabela">
    <ng-container matColumnDef= "id">
        <mat-header-cell *matHeaderCellDef> Nº
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Preço
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price | currency: 'BRL'}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Ações
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <a routerLink="/">
                <i class="material-icons" id="edit">
                    edit
                </i>
            </a> 
            <a routerLink="/">
                <i class="material-icons" id="dele">
                    delete
                </i>
            </a> 
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns"></mat-row>
  
</mat-table>